<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
     <title>BE 권수현 2주차 과제</title>
</head>

<body class="body-container">

     {% include 'shared/_navbar.html' %}

     <main>
          {% block content %}

          {% endblock %}
     </main>

     {% include 'shared/_footer.html' %}

</body>

</html>