{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'main:create' %}" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <p>제목: <input type="text" name="title"></p>
     <p>작성자: <input type="text" name="writer"></p>
     <p>태그: <input type="text" name="tags" placeholder="쉼표로 구분하여 입력"></p>
     <p>사진: <input type="file" name="image"></p>
     <p>내용: <textarea name="content" cols="30" rows="10"></textarea></p>
     <p>상태:
          <select name="status">
               <option value="draft">임시저장</option>
               <option value="published" selected>발행</option>
          </select>
     </p>
     <button type="submit">제출</button>
</form>
{% endblock %}