{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="contents">2025 멋쟁이사자처럼 13기</h1>
<div class="contents"
     style="font-size: 20px; font-weight: 600; color: #333; padding: 8px 12px; border-bottom: 2px solid #ccc; margin-bottom: 16px;">
     Post List
</div>

<div>
     {% for post in posts %}
     <div>
          <h3>{{post.title}} - {{post.feeling}}</h3>
          {{post.writer}} | {{post.tags}} | {{post.created_at}} <br>
          {{post.summary}}
          <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
          <br><br>
          <hr />
     </div>
     {% endfor %}
</div>

{% endblock %}